.footer {

    padding: 3.8rem 0 8rem;
    border-top: 0.2rem solid $border-color;

    @media(max-width: 992px) {
        padding: 4.2rem 0 6rem;
    }

    @media(max-width: 767px) {
        padding-bottom: 4rem;
    }

    @media(max-width: 575px) {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }

    &__inner {
        padding-right: 7rem;

        @media(max-width: 992px) {
            padding-right: 0;
            margin: -1.7rem -2rem;
        }

        @media(max-width: 575px) {
            justify-content: center;
            margin: -1.5rem -1rem;
        }

        >* {
            &:not(:first-child) {
                margin-right: 13rem;

                @media(max-width: 992px) {
                    margin-right: 0;
                }
            }

            &:last-child {
                margin-right: 0;
            }

            @media(max-width: 992px) {
                padding: 1.7rem 2rem;
            }

            @media(max-width: 575px) {
                padding: 1.5rem 1rem;
            }
        }
    }

    // .footer__left

    &__left {
        @media(max-width: 992px) {
            width: 50%;
        }

        @media(max-width: 767px) {
            width: 100%;
        }
    }

    // .footer__logo

    &__logo {
        margin-bottom: 2.4rem;

        @media(max-width: 992px) {
            margin-bottom: 2rem;
        }

        @media(max-width: 767px) {
            display: flex;
            justify-content: center;
        }
    }

    // .footer__address-list

    &__address-list {
        >* {
            &:not(:last-child) {
                margin-bottom: 1rem;

                @media(max-width: 992px) {
                    margin-bottom: 0.5rem;
                }
            }

            @media(max-width: 767px) {
                text-align: center;
            }
        }
    }

    // .footer__address-item

    &__address-item {
        font-weight: 500;

        span {
            font-weight: 600;
        }
    }

    // .footer__catalog

    &__catalog {
        margin-left: auto;

        @media(max-width: 992px) {
            width: 25%;
            margin-left: 0;
        }

        @media(max-width: 575px) {
            width: auto;
        }
    }

    // .footer__title

    &__title {
        font-weight: 600;
        margin-bottom: 1rem;

        @media(max-width: 992px) {
            font-size: 1.8rem;
            line-height: 2.4rem;
        }
    }

    // .footer__menu

    &__menu {
        @media(max-width: 992px) {
            width: 25%;
        }

        @media(max-width: 575px) {
            width: auto;
        }
    }

    // .footer__menu-item

    &__menu-item {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    // .footer__contacts

    &__contacts {
        @media(max-width: 992px) {
            width: 50%;
        }

        @media(max-width: 575px) {
            width: 100%;
        }
    }

    &__contacts-list {
        @media(max-width: 992px) {
            display: flex;
        }
    }

    &__contacts-item {
        &:not(:last-child) {
            @media(max-width: 992px) {
                margin-bottom: 0;
                margin-right: 2rem;
            }
        }
    }

    // .footer__social

    &__social {
        @media(max-width: 992px) {
            width: 34.2rem;
        }

        @media(max-width: 575px) {
            width: 100%;
        }
    }

    &__social-cols {
        @media(min-width: 992px) {
            display: flex;
        }
    }

    // .footer__social-list

    &__social-list {
        &:not(:last-child) {
            margin-right: 3rem;

            @media(max-width: 992px) {
                margin-right: 0;
                margin-bottom: 0.5rem;
            }
        }

        @media(max-width: 992px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 3.2rem;
        }
    }
}